@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@600;800&display=swap');

:root{
    --yellow: hsl(47, 88%, 63%);
    --white: hsl(0, 0%, 100%);
    --grey: hsl(0, 0%, 50%);
    --black: hsl(0, 0%, 7%);
    --font: 'Figtree', sans-serif

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font);
}

body{
    background-color: var(--yellow);
}

main{
    height: max-content;
    width: 385px;
    background-color: var(--white);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    box-shadow: 6px 8px 0px 1px var(--black);
    border: 2px solid var(--black);
}
.content{
    margin-top: 1.5rem;
    text-align: left;
    margin-left: 1.5rem;    
}
.content svg{    
    border-radius: 15px;

}
.content #learning{
    background-color: var(--yellow);
    font-weight: 800;
    width: max-content;
    padding: 5px 12px;
    border-radius: 4px;
    margin: 15px 0;
}

.content h3{
    margin: 20px 0;
    font-size: 1.5rem;
}

.contentFooter{
    margin: 20px 0;
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 800;
}
.contentFooter img{
    width: 10%;
}